@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap");
@font-face {
  font-family: lato;
  src: url("./public/fonts/Lato-Light.ttf");
}
@font-face {
  font-family: prillyMonly;
  src: url("./public/fonts/Prilly\ Monly.ttf");
}

@font-face {
  font-family: venus;
  src: url("./public/fonts/Venus\ Plant.ttf");
}

@font-face {
  font-family: socialFont;
  src: url("./public/fonts/SocialType.ttf");
}

:root {
  --primary-color: #00f1ea;
  --secondary-color: #6c757d;
}
* {
  margin: 0;
  padding: 0;
  font-family: "Quicksand";
  font-weight: 400;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

.social {
  font-family: socialFont;
  color: rgb(202, 202, 202);
}

.btn {
  margin: 1.5rem;
  padding: 1rem;
  background: linear-gradient(to left, var(--primary-color), #09a2cf);
  border: none;
  border-radius: 0.5rem;
  font-size: 1rem;
  transition: linear 0.2s;
}

.btn:hover {
  cursor: pointer;
}

button[type="submit"]:hover {
  background: none;
  border: 2px solid var(--primary-color);
  color: white;
}
.grid-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
}

.item {
  text-align: center;
}

/* header styles */

.header {
  grid-row: 1;
  grid-column: 1 / span 3;
  background-image: url("./public/imgs/misc/hero.jpg");
  background-size: cover;
  color: #ddd;
  height: 45vh;
}

.brand {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  text-align: left;
  margin: 2rem;
  display: flex;
  align-items: center;
}

.brand > img {
  width: 4rem;
}

.hero > .title {
  font-size: 3rem;
  color: var(--primary-color);
  font-family: venus;
}

.subtitle {
  font-family: "Poppins";
  font-size: small;
  font-weight: 400;
}

.hero-button {
  width: 8rem;
  background-repeat: no-repeat;
}
.hero-button:hover {
  animation: fillIn 0.5s ease-in-out forwards;
}

@keyframes fillIn {
  0% {
    background-size: 0%;
  }
  100% {
    background-size: 100%;
  }
}

/* speakers styles */
.speakers-section {
  grid-row: 2;
  grid-column: 1 / span 2;
  padding: 0 5rem;
}

.speakers-title {
  font-family: "Poppins";
  font-size: xx-large;
  font-weight: 700;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.speakers-topics {
  font-family: lato;
  display: flex;
  flex-direction: column;
  font-size: x-large;
  text-align: left;
}

.speakers-section img {
  width: 5rem;
  border-radius: 50%;
  border: 0.2rem solid var(--primary-color);
  margin-right: 1rem;
}
.speaker {
  margin: 1.5rem 1.5rem;
  border-radius: 1.4rem;
  padding: 2rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.15);
  transition: linear 0.2s;
}
.speaker-info {
  display: none;
}

.speaker-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.speaker:hover {
  transform: scale(1.01);
  cursor: pointer;
}
.speaker-bio {
  font-family: lato;
  font-size: 1.4rem;
}
.speaker-info {
  margin-top: 1rem;
}

.speaker-name {
  font-family: "Quicksand";
  font-size: x-large;
  font-weight: 700;
  margin-top: 1rem;
}

/* Registeration  */

.registration {
  grid-row: 3;
  grid-column: 1 / span 3;
  margin: 2rem;
}

.registration > p {
  font-size: large;
  text-align: center;
  margin: 2rem;
  font-family: "Poppins";
  font-weight: 700;
  font-size: xx-large;
}
.form-container {
  width: 55rem;
  margin: 0 auto;
  padding: 1.5rem;
  background-color: #f7f7f7;
  border-radius: 1rem;
}

.contact-form {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

input,
textarea {
  padding: 1rem;
  margin-bottom: 1.5rem;
  border: none;
  border-radius: 0.5rem;
  box-sizing: border-box;
  width: 100%;
}
input:focus {
  outline: none;
}
button[type="submit"] {
  color: white;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

button[type="submit"]:hover {
  color: #171717;
}

/* sidebar */

.sidebar {
  grid-row: 2;
  grid-column: 3;
  margin: 1rem 2rem 0 2rem;
}

.schedule-table {
  border-collapse: collapse;
  font-size: 0.9rem;
  width: 100%;
  margin-bottom: 4rem;
}

.schedule-table th,
.schedule-table td {
  padding: 0.6rem;
  text-align: left;
  border-bottom: 0.2rem solid #ddd;
}

.schedule-table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.schedule-table tr:hover {
  background-color: #f5f5f5;
}

/* footer styles */

.footer {
  grid-row: 4;
  grid-column: 1 / span 3;
  background-color: #262729;
  padding-bottom: 2rem;
}

.footer-top {
  display: flex;
  align-items: center;
  justify-content:space-around;
}
.footer-logo {
  margin: 4rem;
}

.footer-logo > p {
  color: #00f1ea;
  font-family: venus;
}

.partners-list > img {
  width: 4rem;
  margin: 0 1rem 0 1rem;
}

.partners-list {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.partners {
  color: rgba(255, 255, 255, 0.744);
}

.footer-socials {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-socials P {
  margin: 0 0.2rem 0 0.2rem;
  font-size: xx-large;
  transition: transform 0.2s linear;
}
.footer-socials > P:hover {
  cursor: pointer;
  transform: rotate(360deg);
}

/* modal */
.modal {
  background: rgb(233, 233, 233);
  padding: 4rem;
  position: fixed;
  top: 30%;
  left: 50%;
  width: 30%;
  transform: translateX(-50%);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  display: none;
}

.modal > h1 {
  text-align: center;
}
#modalUsername {
  color: #09a2cf;
}
.thanks {
  font-size: medium;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(23, 23, 23, 0.8);
  overflow: auto;
  width: 100vw;
  height: 100vh;
  display: none;
}

.left-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}
.left-column > h1 {
  font-family: "Poppins";
}

/* media queries */
@media (max-width: 1200px) {
  .speakers-section {
    grid-row: 2;
    grid-column: 1 / span 3;
  }
  .sidebar {
    grid-row: 3;
    grid-column: 1 / span 3;
  }

  .registeration {
    grid-row: 4;
  }
  .footer {
    grid-row: 5;
  }
}

@media (max-width: 900px) {
  .form-container {
    width: 55rem;
  }
}

@media (max-width: 1000px) {
  .form-container {
    width: 40rem;
  }
}

@media (max-width: 950px) {
  .map {
    width: 35rem;
  }
}

@media (max-width: 900px) {
  .speakers-section img {
    width: 9rem;
  }
}

@media (max-width: 850px) {
  .form-container {
    width: 35rem;
  }
}

@media (max-width: 700px) {
  .modal {
    width: 40%;
  }
  .speaker-bio {
    font-size: 1.5rem;
  }

  .form-container {
    width: 30rem;
  }
  .speakers-topics {
    padding: 0 2rem;
    font-size: x-large;
  }
  .speakers-section {
    padding: 0 2rem;
  }
}

@media (max-width: 650px) {
  .hero .title {
    font-size: 2.5rem;
  }
  .map {
    width: 25rem;
  }
  .form-container {
    width: 25rem;
  }
}

@media (max-width: 570px) {
  .hero .title {
    font-size: 2rem;
  }
  .form-container {
    width: 20rem;
  }
  .modal {
    width: 50%;
  }
  .footer-top {
    flex-direction: column;
    margin-bottom: 3rem;
  }
}

@media (max-width: 510px) {
  .speakers-section {
    padding: 0 1rem;
  }
  .speaker-bio {
    font-size: 1rem;
  }
  .map {
    width: 20rem;
  }
}

@media (max-width: 450px) {
  .form-container {
    width: 15rem;
  }
}
